/* G E N E R A L */

/* .app */

.app {
    height: 100dvh;

    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

/* D E S K T O P */

@media (min-width: 768px) {

    /* .app */

    .app {
        min-height: 640px;
    }

}

/* M O B I L E */

@media (max-width: 767px) {

    /* .app */

    .app {
        min-height: 400px;
    }

}