/* G E N E R A L
* * * * * * * */

/* .app */

.app ul {
    display: grid;
}

/* __card */

.app__card {
    aspect-ratio: 1;
    background: #fff;
    border-radius: 50%;

    position: relative;
}

/* D E S K T O P
* * * * * * * */

@media (min-width: 768px) {

    /* .app */

    .app {
        padding: 60px;
    }

    .app ul {
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    /* __card */

    .app__card {
        box-shadow: 0 7px 15px 1px rgba(0, 0, 0, 0.15);
    }


}

/* M O B I L E
* * * * * * */

@media (max-width: 767px) {

    /* .app */

    .app {
        padding: 20px;
    }

    .app ul {
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    /* __card */

    .app__card {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }

}