/* G E N E R A L */

/* root */

:root {
    color: #222;
    font-family: 'Miranda Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    font-synthesis: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    background-color: #ddd;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    padding: 0;

    margin: 0;
    overflow: hidden;
}

html {
    height: 100%;
    
    box-sizing: border-box;

    scroll-behavior: smooth;
}

/* button */

button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    background: none;
    border: none;
    padding: 0;

    display: flex;

    user-select: none;
}

/* img */

img {
    max-width: 100%;

    display: block;

    pointer-events: none;
    user-select: none;
}

/* text */

h1, p {
    padding: 0;

    margin: 0;
}

/* ul */

ul {
    padding: 0;

    margin: 0;

    list-style: none;
}

/* D E S K T O P */

@media (min-width: 768px) {

    /* root */

    :root {
        font-size: 16px;
        line-height: 24px;
    }

    /* button */

    button {
        cursor: pointer;
    }

}

/* M O B I L E */

@media (max-width: 767px) {

    /* root */

    :root {
        font-size: 14px;
        line-height: 20px;
    }

}